.App-header {
    background-color: red;
    min-height: 150px;
    align-items: center;
    color: white;
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;*/
  }
  
  .App-footer {
    background-color: green;
    min-height: 50px;
    align-items: center;
    color: white;
  }
  
  .App-banner {
    background-color: gray;
    min-height: 800px;
    align-items: center;
    color: white;
  }
  
  